Core/src/com/affirm/efectiva/client/ServiceMovilCME.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws_NCanales_movil/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://ws_NCanales_movil/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws_NCanales_movil/">
      <s:element name="wm_interface_cme_movil">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="datos" type="tns:MovilCMESlc"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MovilCMESlc">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ObjCliente" type="tns:Cliente"/>
          <s:element minOccurs="0" maxOccurs="1" name="ObjAutenticacion" type="tns:Autenticacion"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Cliente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DniVendedor" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="Plaza" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="Producto" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="Canal" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="DniCliente" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="MontoFinanciar" type="s:double"/>
          <s:element minOccurs="1" maxOccurs="1" name="TipoAfiliacion" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="TipoCliente" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="OficioActividad" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="Perfil" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="SituacionLaboral" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="CondicionLaboral" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="ActividadComercial" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="NegocioPropio" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="PuestoFijo" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="AntiguedadLaboral" type="s:dateTime"/>
          <s:element minOccurs="1" maxOccurs="1" name="TipoIngresos" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="OtrosIngresos" type="s:double"/>
          <s:element minOccurs="1" maxOccurs="1" name="IngresosConyuge" type="s:double"/>
          <s:element minOccurs="1" maxOccurs="1" name="IngresosComplementoRenta" type="s:double"/>
          <s:element minOccurs="1" maxOccurs="1" name="TipoVivienda" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="AntiguedadDomiciliaria" type="s:dateTime"/>
          <s:element minOccurs="1" maxOccurs="1" name="Ingresos" type="s:double"/>
          <s:element minOccurs="1" maxOccurs="1" name="EstadoCivil" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="NumeroHijos" type="s:int"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Autenticacion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="wm_interface_cme_movilResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wm_interface_cme_movilResult" type="tns:ArrayOfMovilCMERpt"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMovilCMERpt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MovilCMERpt" nillable="true" type="tns:MovilCMERpt"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="MovilCMERpt">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TipoLinea" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="CodigoError" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="DescripcionError" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ResultadoEvaluacion" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CodigoRechazo" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="DescripcionRechazo" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="InicialMinima" type="s:double"/>
          <s:element minOccurs="1" maxOccurs="1" name="PlazoMaximo" type="s:double"/>
          <s:element minOccurs="0" maxOccurs="1" name="Aval" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="CodigoProceso" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="DescripcionProceso" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="LineaDisponible" type="s:double"/>
          <s:element minOccurs="1" maxOccurs="1" name="Cme" type="s:double"/>
          <s:element minOccurs="0" maxOccurs="1" name="File1" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="File2" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="File3" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="File4" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="File5" type="s:string"/>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="wm_interface_cme_movilSoapIn">
    <wsdl:part name="parameters" element="tns:wm_interface_cme_movil"/>
  </wsdl:message>
  <wsdl:message name="wm_interface_cme_movilSoapOut">
    <wsdl:part name="parameters" element="tns:wm_interface_cme_movilResponse"/>
  </wsdl:message>
  <wsdl:portType name="ServiceMovilCMESoap">
    <wsdl:operation name="wm_interface_cme_movil">
      <wsdl:input message="tns:wm_interface_cme_movilSoapIn"/>
      <wsdl:output message="tns:wm_interface_cme_movilSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceMovilCMESoap" type="tns:ServiceMovilCMESoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="wm_interface_cme_movil">
      <soap:operation soapAction="http://ws_NCanales_movil/wm_interface_cme_movil" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceMovilCMESoap12" type="tns:ServiceMovilCMESoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="wm_interface_cme_movil">
      <soap12:operation soapAction="http://ws_NCanales_movil/wm_interface_cme_movil" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceMovilCME">
    <wsdl:port name="ServiceMovilCMESoap" binding="tns:ServiceMovilCMESoap">
      <soap:address location="http://190.116.176.18/WS_NCanales_movil/ServiceMovilCME.asmx"/>
    </wsdl:port>
    <wsdl:port name="ServiceMovilCMESoap12" binding="tns:ServiceMovilCMESoap12">
      <soap12:address location="http://190.116.176.18/WS_NCanales_movil/ServiceMovilCME.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>